%h1 Users

%table
  %tr
    %th
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= display(user, user.email)
      %td= link_to 'Show', user_path(user)
      // TBD - users should only have access to their own account at the controller level
      - if user == current_user
        %td= link_to 'Edit', edit_user_registration_path
        %td= link_to 'Destroy', user_registration_path, :confirm => 'Are you sure?', :method => :delete
