%p Please use the link below to activate your account.

%p= link_to 'Activate my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)

%p If the above link does not work, try copying and pasting it into a browser.
