%p A request to reset your password has been made. If you did not make this request, simply ignore this email. Otherwise please use the link below.

%p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p If the above link does not work, try copying and pasting it into a browser.
